.bagmon-description{
    display: flex; 
    justify-content: center; 
    margin-bottom: 15px; 
    align-items: center;
}

#bagmon-shelf{
    display: flex; 
    flex-wrap: wrap; 
    width: 100%; 
    gap: 1rem; 
    justify-content: space-between;
}

#bagmon-name{
    color: #333; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
}

#bagmon-image{
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}