.container-description{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    margin-bottom: 15px; 
    color: #FFF; 
    text-shadow: 3px 3px 3px #333;
}

.bagmon-descriptiona{
    color: #333; 
    background-color: #FFF;
    border: 7px solid #333;
    box-shadow: 5px 10px #4d4d4d;
    border-radius: 7px;
    text-shadow: 1px 1px 1px #4d4d4d;
    height:auto; 
    width:168px;
    text-align: center;
}

.bagmon-description{
    color: #FFF; 
    text-shadow: 2px 2px 2px #4d4d4d;
    text-align: center;
}

.batalha-description{
    color: #333; 
    background-color: #FFF;
    border: 7px solid #333;
    box-shadow: 5px 10px #4d4d4d;
    border-radius: 7px;
    text-shadow: 1px 1px 1px #4d4d4d;
    height:auto; 
    width:168px;
    text-align: center;
    margin-bottom: 10px;
}

#bagmon-shelf{
    display: flex; 
    flex-wrap: wrap; 
    width: 100%; 
    gap: 1rem; 
    justify-content: space-between;
}

#bagmon-card{
    color: #333; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
}

#bagmon-name{
    background-color: #FFF;
    border: 7px solid #333;
    box-shadow: 5px 10px #4d4d4d;
    border-radius: 7px;
    text-shadow: 1px 1px 1px #4d4d4d;
    height:auto; 
    width:168px;
    text-align: center;
    margin-bottom: 10px;
}

#bagmon-image{
    width: 168px; 
    height: 300px; 
    border: 7px solid #333;
    box-shadow: 5px 10px #4d4d4d;
    border-radius: 7px;
}

.bagmons-to-battle-link{
    color: #333; 
    height: 100%;
    text-shadow: 1px 1px 1px #333;
    text-decoration: none;
    font-weight: bold;
}
